$base-color: #000000 !default;
$menu-border-width : 0 !default;
$menu-item-margin : 15px !default;
$menu-item-separator-margin : 15px !default;
$menu-background-color : #000000 !default;
$menu-separator-background-color : pink !default;
$menu-text-color : #FFFFFF !default;
$menu-item-active-background-color : grey !default;
$menu-item-height : 40px !default;
$menu-check-item-padding : 40px !default;
$menu-padding : 8px !default;
//$menu-item-active-border-radius : 8px !default;
$panel-header-font-size : 20px !default;
//$panel-body-background-color : grey !default;